---
pageTitle: <%= _.capitalize(lang.documentation) %>
rootUrl: '../'
---
<div class="wfm-content-pad">
    <h3 class="text-center">Well file manager documentation</h3>
    <div class="row text-center">
        <h4 class="text-center">Cabinet hierarchy</h4>
        <div class="col-lg-3 col-lg-offset-3 col-md-6">
            <img class="img-responsive center-block" src="{{rootUrl}}img/structure/cabinet.png" />
        </div>
        <div class="col-lg-3 col-md-6">
			<p>
				Company may include many users
			</p>
			<p>
				User may be in many companies
			</p>
            <p>
                Company may contain many regions
            </p>
            <p>
                Regions divides by fields
            </p>
            <p>
                Field divides by groups
            </p>
            <p>
                Group divides by wells
            </p>
        </div>
    </div>
</div>