---
layout: false
---
<div class="wfm-workspace-well-tab clearfix">
    <div class="pull-left" style="margin-top:1px">
		<button type="button" class="btn btn-inverse btn-sm" data-bind="click: function(){ selectedSectionId(null); }">Well<br />dashboard</button>
    </div>
    <div class="pull-left">
        <ul class="nav nav-pills" data-bind="template: {foreach: sectionList, as: 'section'}">
            <!-- ko if: (section.id !== 'volume' && section.id !== 'sketch' && section.id !== 'pd') -->
            <li data-bind="css: {'active': section.id === $parent.selectedSectionId() }">
                <a href="#" data-bind="click: function() { $parent.selectSection(section.id); return true; }, attr: {href: $parent.getHashPath()  + '/section/' + section.id}">
                    <span data-bind="text: section.name"></span><br /><i class="wfmicon" data-bind="css: 'wfmicon-' + section.id"></i>
                </a>
            </li>
            <!-- /ko -->
            <!-- ko if: section.id === 'sketch' -->
            <li class="dropup" data-bind="css: {'active': section.id === $parent.selectedSectionId() }">
                <a class="dropdown-toggle" title="Sketch and volume" href="#" data-toggle="dropdown" data-bind="drpdwn: {}">
                    <span data-bind="text: section.name"></span><br /><i class="wfmicon" data-bind="css: 'wfmicon-'+section.id"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: function() { $parent.selectSection('sketch'); return true; }, attr: {href: $parent.getHashPath()  + '/section/' + 'sketch'}">Sketch</a></li>
                    <li><a href="#" data-bind="click: function() { $parent.selectSection('volume'); return true; }, attr: {href: $parent.getHashPath()  + '/section/' + 'volume'}">Volume</a></li>
                </ul>
            </li>
            <!-- /ko -->
            <!-- ko if: section.id === 'pd' -->
            <li class="dropup" data-bind="css: {'active': section.id === $parent.selectedSectionId() }">
                <a class="dropdown-toggle" title="Decline curve analysis" data-toggle="dropdown" data-bind="drpdwn:{}" href="#">
                    <span data-bind="text: section.name"></span><br /><i class="wfmicon" data-bind="css: 'wfmicon-' + section.id"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: $root.wfmParamSquadList">
                    <li>
                        <a href="#" data-bind="click: function() { $parents[1].selectSection(section.id); $parents[1].mainPerfomanceView.selectAttrGroupId($data.id); return true; }, attr: {href: $parents[1].getHashPath()  + '/section/' + section.id}">
							<span data-bind="text: id"></span>
						</a>
                    </li>
                </ul>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="pull-left" style="padding:1px;">
        <button class="btn btn-inverse btn-sm" data-bind="click: showFmg">File<br />manager</button>
    </div>
</div>

<div class="well-content-pad">
    <div data-bind="if: selectedSectionId">
        <div data-bind="template: { name: selectedSectionId, templateUrl: '/wfm-template/workspace/well/' }"></div>
    </div>
	<div data-bind="ifnot: selectedSectionId">
		<div data-bind="template: { name: 'widget-scope', templateUrl: '/wfm-template/workspace/well/' }"></div>
	</div>
</div>