---
layout: false
---
<h4>
    <span data-bind="text: Name"></span>
    <small data-bind="if: $root.isEditable">
        <button type="button" class="btn btn-xs btn-default" data-bind="click: editWellGroup">
            <i class="glyphicon glyphicon-edit"></i>
        </button>
        <button type="button" class="btn btn-xs btn-default" data-bind="click: $parent.deleteWellGroup">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </small>
</h4>

<h4 class="text-center">Last test data:</h4>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <!-- ko foreach: wellGroupWfmParameterList -->
            <th data-bind="with: wfmParameter">
                <span data-bind="text: id"></span>,<br />
                <span data-bind="text: uom"></span>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: {data: Wells, as: 'well'} -->
        <tr>
            <td>
                <span data-bind="text: Name"></span>
            </td>
            <td>
                <div data-bind="with: lastTestScope">
                    <span data-bind="text: startUnixTimeDateView"></span>
                </div>
            </td>
            <!-- ko foreach: { data: $parent.wellGroupWfmParameterList, as: 'wgWfmParameter'} -->
            <td>
                <div data-bind="with: well.lastTestScope">
                    <span data-bind="text: testDataTotal()[wgWfmParameter.wfmParameter().id]"></span>
                </div>
            </td>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
        <!-- /ko -->
        <!--<tr class="success">
            <td>
                Total
            </td>
            <td></td>
        </tr>-->
    </tbody>
</table>