---
layout: false
---
<span data-bind="ifnot: isLoadedHistoryList">{{capitalizeFirst lang.loading}}...</span>

<div data-bind="if: isLoadedHistoryList">
    <div class="row">
        <div class="col-sm-3">
            <div data-bind="visible: $root.isEditable">
                <button class="btn btn-sm btn-default" data-bind="click: addWellHistory"><i class="glyphicon glyphicon-plus"></i> Create new record</button>
            </div>
        </div>
        <div class="col-sm-9">
            <span>Filter by date: </span>
            <input type="text" class="datepicker" size="16" data-bind="datepicker: historyListFilter.startDate, datepickerOptions: { format: 'yyyy-mm-dd', startView: 'decade', autoclose: true }" />
            <span> - </span>
            <input type="text" class="datepicker" size="16" data-bind="datepicker: historyListFilter.endDate, datepickerOptions: { format: 'yyyy-mm-dd', startView: 'decade', autoclose: true }" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><a href="#" data-bind="click: changeSortedHistoryListOrder"><i class="glyphicon" data-bind="    css: { 'glyphicon-arrow-down': sortedHistoryListOrder() === 1, 'glyphicon-arrow-up': sortedHistoryListOrder() === -1 }"></i>Date</a></th>
                <th>History</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sortedHistoryList">
            <tr>
                <td>
                    <div><span data-bind="date: StartDate()"></span></div>
                    <div><span data-bind="date: EndDate(), visible: StartDate() !== EndDate()"></span></div>
                    <div class="btn-group" data-bind="visible: $root.isEditable">
                        <a class="btn btn-sm dropdown-toggle btn-default" data-toggle="dropdown" data-bind="drpdwn:{}" href="#">
                            Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: editWellHistory">Edit</a></li>
                            <li><a href="#" data-bind="click: chooseWellHistoryFile">Attach a file</a></li>
                            <li><a href="#" data-bind="click: chooseWfmImage">Attach a cropped image</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-bind="click: $parent.deleteWellHistory">Delete</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <pre data-bind="text: History, visible: History"></pre>
                    <div data-bind="foreach: WfmImages">
                        <div>
                            <img src="" data-bind="attr: { src: dataUrl }" alt="History image" class="img-thumbnail elem-shadow" />
                            <span data-bind="visible: $root.isEditable"><i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.deleteWfmImage"></i></span>
                        </div>
                    </div>
                    <div data-bind="foreach: WellHistoryFiles" class="clearfix">
                        <div class="img-thumbnail pull-left">
                            <a href="#" data-bind="text: FileNameWODate, click: downloadWellHistoryFile"></a>
                            <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.deleteWellHistoryFile, visible: $root.isEditable"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
