---
layout: false
---
<div data-bind="ifnot: isLoadedIntegrity">
    Loading...
</div>
<div data-bind="if: isLoadedIntegrity">
    <div data-bind="ifnot: isExistsSectionWellFiles">
        <small>No files. Please use 'File Manager' to add files.</small>
    </div>
    <div data-bind="if: isExistsSectionWellFiles">
        <div class="row">
            <div class="col-sm-8">
                <div data-bind="with: selectedWellFileIntegrity" class="text-center">
                    <img data-bind="attr: { src: Url }" alt="Integrity image" class="img-responsive" />
                </div>
            </div>
            <div class="col-sm-4">
                <h5>Files:</h5>
                <ul data-bind="foreach: sectionWellFiles" class="nav">
                    <li data-bind="css: { 'open': isSelectedWellFileIntegrity }">
                        <a href="#" data-bind="text: displayedName, click: $parent.selectWellFileIntegrity"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>