---
layout: false
---
<div class="clearfix">
    <div class="pull-left" data-bind="visible: wellLogSelectedFile">
        <div class="clearfix">
            <div class="pull-left">
                <div data-bind="visible: IsLogImageEditable">
                    <label class="radio-inline"><input type="radio" name="log-tools" value="tool-hand" data-bind="checked: checkedLogTool" />Default</label>
                    <label class="radio-inline"><input type="radio" name="log-tools" value="tool-text" data-bind="checked: checkedLogTool" />Text</label>
                    <label class="radio-inline"><input type="radio" name="log-tools" value="tool-line" data-bind="checked: checkedLogTool" />Line</label>
                    <label class="radio-inline"><input type="radio" name="log-tools" value="tool-arrow" data-bind="checked: checkedLogTool" />Arrow</label>
                </div>
            </div>
            <div class="pull-right" style="margin-right: 22px">
                <div data-bind="visible: !IsLogImageEditable()">
                    <button type="button" class="btn btn-sm btn-primary" style="width: 60px" data-bind="click: startLogImageEdit">Edit</button>
                </div>
                <!-- TODO: add icons to button -->
                <div class="btn-group" data-bind="visible: IsLogImageEditable">
                    <button type="button" class="btn btn-sm btn-primary" style="width: 60px" data-bind="click: saveWellLogSelectedFileImagePart">Save</button>
                    <button type="button" class="btn btn-sm btn-default" style="width: 60px" data-bind="click: cancelLogImageEdit">Cancel</button>
                </div>
            </div>
        </div>
        <div style="position: relative; z-index: 1;">
            <div style="height:480px; width:650px; overflow: auto; overflow-x: hidden;">
                <img id="log_img" style="z-index: 1; width: 624px; border: 2px solid #ccc;" src="#" alt="no data" data-bind="attr: { src: WellLogImageUrl } " />
            </div>
            <canvas id="log_cnvs" width="624" height="480" style="position: absolute; top: 0; left: 0; border: 2px dotted #f00; z-index: 2;" data-bind="visible: IsLogImageEditable"></canvas>
            <div data-bind="visible: IsLogImageEditable">
                <canvas id="draw_cnvs_log" width="624" height="480" data-bind="drawCnvsLog: {}" style="position: absolute; top: 0; left: 0; display: none; z-index: 3; border: 2px dotted #f00;"></canvas>
                <div id="text_cnvs_log" data-bind="click: drawLogText" style="background-color: #fff; opacity: 0.5; filter: alpha(opacity = 50); width: 624px; height: 480px; position: absolute; top: 0; left: 0; z-index: 11; display: none; border: 2px dotted #f00;"></div>
            </div>
        </div>
    </div>
    <div class="pull-right" style="width: 280px">
        <h5>Log images:</h5>
        <div data-bind="foreach: logImageList">
            <div>
                <i class="glyphicon glyphicon-picture"></i>&nbsp;
                <a href="#" data-bind="text: displayedName, click: showLogImage, style: { 'font-weight': $data === $parent.wellLogSelectedFile() ? 'bold' : 'normal' }"></a>
            </div>
        </div>
        <div>
            <small>*import file from "File manager" to add image</small>
        </div>
    </div>
</div>
