---
layout: false
---
<div class="row">
    <div class="col-md-8">
        <div style="width: 620px; height: 512px; border: 1px dotted #555">
            <div data-bind="with: $data.getWellGroup().getWellField().selectedWellFieldMap()">
                <div data-bind="template: {afterRender: afterRenderMapObj }">
                    <div style="width: 620px; height: 512px" id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4><span data-bind="text: Name"></span>&nbsp;maps:</h4>
        <!--<div data-bind="foreach: wellGroup.wellField.WellFieldMaps()">
            <div data-bind="visible: ($.inArray($parent.Id, $.map(WellInWellFieldMaps(), function (val, i) { return val.WellId })) > -1)">-->
        <div data-bind="foreach: wellMapList">
            <div class="clearfix">
                <div class="pull-left">
                    <i class="glyphicon glyphicon-circle-arrow-down" data-bind="visible: $data === $parent.getWellGroup().getWellField().selectedWellFieldMap()"></i>
                    <i class="glyphicon glyphicon-circle-arrow-right" data-bind="visible: $data != $parent.getWellGroup().getWellField().selectedWellFieldMap()"></i>
                    <a href="#" data-bind="click: showWellFieldMap, text: Name, attr: { title: Description }"></a>
                </div>
                <div class="pull-right">
                    <i class="glyphicon glyphicon-edit link-icon" data-bind="click: editWellFieldMap"></i>
                    <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.getWellGroup().getWellField().deleteWellFieldMap"></i>
                </div>
            </div>
            <div data-bind="visible: $data === $parent.getWellGroup().getWellField().selectedWellFieldMap()">
                <div data-bind="foreach: WellInWellFieldMaps">
                    <div style="margin-left: 16px">
                        <i class="glyphicon glyphicon-leaf"></i>&nbsp;<span data-bind="text: getWell().Name()"></span>
                    </div>
                </div>
                <div data-bind="foreach: WellFieldMapAreas">
                    <div style="margin-left: 16px">
                        <i class="glyphicon glyphicon-picture"></i>&nbsp;<span data-bind="text: Name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>