---
layout: false
---
<div data-bind="with: mainPerfomanceView">
    <div data-bind="ifnot: prfPartial.isLoadedHstProductionData">{{lang.loading}}...</div>
    <div data-bind="if: prfPartial.isLoadedHstProductionData">
        <div data-bind="if: prfPartial.hstProductionDataSet().length === 0">No data. Import files from "File manager" to view production data.</div>
        <div data-bind="if: prfPartial.hstProductionDataSet().length > 0">			
            <!-- Settings panel -->
            <div data-bind="with: prfPartial">
                <div data-bind="if: requiredForecastParamListNaNString" class="text-right">
                    <small>Forecast inaccessible: required parameters:<span data-bind="text: requiredForecastParamListNaNString"></span></small>
                </div>
                <div data-bind="ifnot: requiredForecastParamListNaNString">
                    <div data-bind="with: forecastEvolution">
                        <div data-bind="if: requiredForecastEvoListNaNString" class="text-right">
                            <small>Forecast inaccessible: required evolutions:<span data-bind="text: requiredForecastEvoListNaNString"></span></small>
                        </div>
                    </div>
                    <div class="text-right">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-bind="checked: isVisibleForecastPanel" />Show settings
                        </label>
                    </div>
                    <div data-bind="if: isVisibleForecastPanel" class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-bind="click: forecastEvolution.save">Save evolution</button>
                            <button type="button" class="btn btn-default btn-sm" data-bind="click: deleteWellProductionData">Delete production data</button>
                        </div>
                        <div>
                            <div class="evo-scope-wrap">
                                <span class="evo-wrap" data-bind="with: forecastEvolution.Dict">
                                    <b>Liquid</b> = <input type="text" class="input-narrow" data-bind="value: LiquidEvolutionA" />
                                    * EXP (<input type="text" class="input-narrow" data-bind="value: LiquidEvolutionB" /> * X)
                                </span>
                                <span class="evo-wrap" title="Corrections to last value = Evolution1 * EXP(Evolution2 * LastPd.LiquidCum)">
                                    Diff = <span data-bind="text: DZADiffLiquid"></span>
                                </span>
                                <span class="evo-wrap" title="Corrections to last value = Diff - LastPd.LiquidRate">
                                    Result = <span data-bind="text: DZADiffLiquidResult"></span>
                                </span>
                            </div>
                            <div class="evo-scope-wrap">
                                <span class="evo-wrap" data-bind="with: forecastEvolution.Dict">
                                    <b>Water cut</b> = <input type="text" class="input-narrow" data-bind="value: WctEvolutionC" />
                                    * Ln(X) - <input type="text" class="input-narrow" data-bind="value: WctEvolutionD" />
                                </span>
                                <span class="evo-wrap" title="Corrections to last value = Evolution1 * Ln(LastPd.OilCum) - Evolution2">
                                    Diff = <span data-bind="text: DZADiffWCT"></span>
                                </span>
                                <span class="evo-wrap" title="Corrections to last value = Diff - LastPd.WaterCut">
                                    Result = <span data-bind="text: DZADiffWCTResult"></span>
                                </span>
                            </div>
                            <div class="evo-scope-wrap">
                                <span class="evo-wrap" data-bind="with: forecastEvolution.Dict">
                                    <b>GOR</b> = <input type="text" class="input-narrow" data-bind="value: GorEvolutionF" />
                                    * Ln(X) + <input type="text" class="input-narrow" data-bind="value: GorEvolutionG" />
                                </span>
                                <span class="evo-wrap" title="Corrections to last value = Evolution1 * Ln(LastPd.OilCum) + Evolution2">
                                    Diff = <span data-bind="text: DZADiffGOR"></span>
                                </span>
                                <span class="evo-wrap" title="Corrections to last value = Diff - LastPd.GOR">
                                    Result = <span data-bind="text: DZADiffGORResult"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / with prfPartial  -->
            <div data-bind="ifnot: selectedAttrGroup">
                Please choose perfomance group:
                <ul data-bind="foreach: $root.wfmParamSquadList">
                    <li data-bind="with: id">
                        <a href="#" data-bind="click: $parent.selectAttrGroupId">
							<span data-bind="text: $data"></span>
						</a>
                    </li>
                </ul>
            </div>
            <div data-bind="if: selectedAttrGroup">
                <div>
                    {{> well-pd-graph }}
                    <div class="clearfix" style="margin-top:4px">
                        <div class="text-center">
                            <select data-bind="options: joinedYearList, value: WPDDateStartYear" class="input-sm"></select>
                            <select data-bind="options: monthList, value: WPDDateStartMonth" class="input-sm"></select>
                            <span>&nbsp;-&nbsp;</span>
                            <select data-bind="options: joinedYearList, value: WPDDateEndYear" class="input-sm"></select>
                            <select data-bind="options: monthList, value: WPDDateEndMonth" class="input-sm"></select>
                            <label class="checkbox-inline">
                                <input type="checkbox" data-bind="checked: isVisibleForecastData, enable: prfPartial.isForecastPossible" />Show forecast graph and data
                            </label>
                        </div>
                    </div>
                    {{> well-pd-table }}
                    <div class="text-center">
                        <ul class="pagination pagination-sm" data-bind="foreach: {data: joinedYearList, as: 'joinedYear'}">
                            <li data-bind="visible: joinedYear >= $parent.WPDDateStartYear() && joinedYear <= $parent.WPDDateEndYear(), css: {'active': joinedYear === $parent.selectedPrfTableYear() }">
                                <a href="#" data-bind="text: joinedYear, click: function(){ $parent.selectPrfTableYear(joinedYear);}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>