---
layout: false
---
[development]
<div class="hide">
    <div data-bind="foreach: sectionList ">
        <!-- ko if: ($.inArray(id, ['report', 'test', 'integrity', 'nodalanalysis']) === -1) -->
        <div class="row" style="border: 1px solid #ccc; padding: 4px; border-radius: 2px; margin-bottom: 1px">
            <div class="col-sm-2">
                <label class="checkbox">
                    <input type="checkbox" data-bind="value: $data.id, checked: $parent.reportSectionIdList, click: function () { $parent.checkReportSection($data); return true; }" /><span data-bind="    text: name"></span>
                </label>
            </div>
            <div class="col-sm-10" data-bind="visible: $.inArray($data.id, $parent.reportSectionIdList()) >= 0 ">
                <!-- ko if: (id === 'history') -->
                <!-- ko if: ($parent.isLoadedHistoryList() === true) -->
                <span>Filter by date: </span>
                <input class="input-sm datepicker" size="16" type="text" data-bind="datepicker: $parent.historyListFilter.startDate, datepickerOptions: { format: 'yyyy-mm-dd', startView: 'year', autoclose: true }">
                <span>- </span>
                <input class="input-sm datepicker" size="16" type="text" data-bind="datepicker: $parent.historyListFilter.endDate, datepickerOptions: { format: 'yyyy-mm-dd', startView: 'year', autoclose: true }">
                <span>Record count: </span><span data-bind="text: $parent.sortedHistoryList().length"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: (id === 'map') -->
                <select class="form-control" data-bind="options: $parent.wellMapList(), optionsText: 'Name', optionsCaption: 'Choose map...', value: $parent.selectedReportMap"></select>
                <!-- /ko -->
                <!-- ko if: (id === 'log') -->
                <select class="form-control" data-bind="options: $parent.logImageList(), optionsText: 'displayedName', optionsCaption: 'Choose log...', value: $parent.selectedReportLog"></select>
                <!-- /ko -->
                <!-- ko if: (id === 'pd') -->
                <div>
                    <!-- ko foreach: $parent.wfmParamSquadList -->
                    <label class="checkbox-inline">
                        <input type="checkbox" data-bind="value: $data, checked: $parents[1].selectedWfmParamSquadList" />
                        <span data-bind="text: $data"></span>
                    </label>
                    <!-- /ko -->
                    <!-- put dates and years pd -->
                </div>
                <!-- /ko -->
                <!-- ko if: (id === 'test') -->
                <span>specify period with dates (calendar should appear)</span>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div style="margin-top: 4px;">
        <button type="button" class="btn btn-primary" data-bind="click: createReport">Create report (PDF)</button>
        <label class="checkbox">
            <input type="checkbox" disabled data-bind="checked: isCompanyLogoInReport" /><span>Add logo of your company</span>
        </label>
    </div>
    <!--<div><textarea placeholder="comment..."></textarea></div>-->
    <!--<span data-bind="text: ko.toJSON(reportSectionIdList)"></span>-->
</div>