---
layout: false
---
<div class="row">
    <div class="col-sm-4 text-center">
        <div>
            <button class="btn btn-default btn-sm" style="width:100%" data-bind="click: function(){ chooseMainFile('sketch'); }">Choose sketch...</button>
        </div>
        <div>
            <a href="#" data-bind="attr: { href: MainSketchUrl }" data-lightbox="image-sketch" title="Sketch">
                <img src="#" class="img-responsive" data-bind="attr: { src: MainSketchUrl }" alt="Sketch image" />
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <div data-bind="visible: IsEditSketchDesc" class="clearfix">
            <div>
                <textarea id="sketch_desc" class="form-control" placeholder="Enter sketch description..." data-bind="text: SketchDesc"></textarea>
            </div>
            <button class="btn btn-success" data-bind="click: saveSketchDesc"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;<span>Save</span></button>
            <button class="btn btn-default" data-bind="click: turnEditSketchDesc"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;<span>Cancel</span></button>
        </div>
        <div data-bind="visible: !IsEditSketchDesc()">
            <div data-bind="html: SketchDesc" style="-ms-word-wrap: break-word; word-wrap: break-word; padding: 8px 2px;"></div>
            <div class="btn-group">
                <button class="btn btn-default" data-bind="click: turnEditSketchDesc"><i class="glyphicon glyphicon-edit"></i>&nbsp;<span>Edit sketch description</span></button>
            </div>
        </div>
    </div>
</div>