---
layout: false
---
<div data-bind="foreach: wellPropertyList">
    <div>
        <i class="glyphicon glyphicon-edit" data-bind="click: $parent.editField, visible: $root.isEditable"></i>
        <label data-bind="text: ttl"></label>
    </div>
    <div class="well well-sm" data-bind="visible: $parent[id]">
        <!-- ko if: tpe === 'SingleLine' -->
        <span data-bind="text: $parent[id]"></span>
        <!-- /ko -->
        <!-- ko if: tpe === 'MultiLine' -->
        <span class="pre-wrap-text" data-bind="text: $parent[id]"></span>
        <!-- /ko -->
        <!-- ko if: tpe === 'DateLine' -->
        <span data-bind="date: $parent[id]"></span>
        <!-- /ko -->
    </div>
</div>

<div class="text-right" data-bind="visible: $root.isEditable">
    <button type="button" class="btn btn-default" data-bind="click: $parent.deleteWell">Delete well</button>
</div>