---
layout: false
---
<div class="clearfix">
    <div class="pull-left">
        <button type="button" class="btn btn-default" data-bind="click: addTestScope"><i class="glyphicon glyphicon-plus"></i> Add new test</button>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-default" data-bind="click: getWellGroup().addWellGroupWfmParameter, enable: getWellGroup().selectedWfmParameterId">Add</button>
    </div>
    <div class="pull-right">
        <select class="form-control" data-bind="options: getWellGroup().unselectedWfmParameterList, optionsValue: 'id', optionsText: 'name', value: getWellGroup().selectedWfmParameterId, optionsCaption: 'Add new parameter...'"></select>
    </div>
</div>
<div data-bind="foreach: { data: sortedTestScopeList, as: 'testScope' }">
    <div style="margin-top: 16px; background-color: #f5f5f5">
        <div class="test-header clearfix" data-bind="css: { 'test-approved': isApproved, 'test-declined': isApproved() === false }">
            <div class="pull-left" style="padding:2px 0">
                <button class="btn btn-xs" data-bind="click: $parent.chooseTestScope"><i class="glyphicon" data-bind="css: {'glyphicon-chevron-up': $parent.selectedTestScope() === testScope, 'glyphicon-chevron-down': $parent.selectedTestScope() !== testScope }"></i> Details</button>
            </div>
            <div class="pull-left" style="margin-left: 16px; padding:2px;">
                <span data-bind="text: startUnixTimeDateView"></span>
            </div>
            <div class="pull-right">
                <div class="btn-group" data-bind="if: isApproved() === null">
                    <button type="button" class="btn btn-sm btn-success" data-bind="click: function(){ setIsApproved(true); }">Approve</button>
                    <button type="button" class="btn btn-sm btn-danger" data-bind="click: function(){ setIsApproved(false); }">Decline</button>
                </div>
                <span data-bind="if: isApproved() === true">Valid</span>
                <span data-bind="if: isApproved() === false">Invalid</span>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Hour</th>
                    <!-- ko foreach: $parent.getWellGroup().wellGroupWfmParameterList -->
                    <th>
                        <span data-bind="text: wfmParameterId"></span>
                    </th>
                    <!-- /ko -->
                    <th data-bind="visible: $parent.selectedTestScope() === testScope">Comment</th>
                    <th data-bind="visible: $parent.selectedTestScope() === testScope"></th>
                </tr>
            </thead>
            <tbody data-bind="visible: $parent.selectedTestScope() === testScope">
                <!-- ko foreach: {data: testDataList, as: 'testData'} -->
                <tr>
                    <td><span data-bind="text: hourNumber"></span></td>
                    <!-- ko foreach: $parents[1].getWellGroup().wellGroupWfmParameterList() -->
                    <td>
                        <div data-bind="if: testData.isEdit() === true">
                            <input class="input-sm" style="width: 50px" data-bind="value: testData.dict[$data.wfmParameterId]" />
                        </div>
                        <div data-bind="if: testData.isEdit() === false">
                            <span data-bind="text: testData.dict[$data.wfmParameterId]"></span>
                        </div>
                    </td>
                    <!-- /ko -->
                    <td>
                        <div data-bind="if: isEdit() === true">
                            <input data-bind="value: comment" />
                        </div>
                        <div data-bind="if: isEdit() === false">
                            <span data-bind="text: comment"></span>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs" data-bind="click: editTestData, visible: isEdit() === false">Edit</button>
                        <button type="button" class="btn btn-default btn-xs" data-bind="click: saveTestData, visible: isEdit() === true">Save</button>
                        <button type="button" class="btn btn-default btn-xs" data-bind="click: cancelEditTestData, visible: isEdit() === true">Cancel</button>
                        <button type="button" class="btn btn-default btn-xs" data-bind="click: testScope.deleteTestData, visible: $index() === ($parent.testDataList().length - 1)">Delete</button>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td colspan="6">
                        <button type="button" class="btn btn-xs btn-default" data-bind="click: testScope.addTestData">Add new hour</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <!-- ko foreach: $parent.getWellGroup().wellGroupWfmParameterList() -->
                    <td>
                        <b data-bind="text: testScope.testDataTotal()[$data.wfmParameterId] "></b>
                    </td>
                    <!-- /ko -->
                    <td data-bind="visible: $parent.selectedTestScope() === testScope"></td>
                    <td data-bind="visible: $parent.selectedTestScope() === testScope"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>