---
layout: false
---
<div class="row">
    <div class="col-sm-4 text-center">
        <div>
            <button class="btn" style="width:100%" data-bind="click: function(){ chooseMainFile('volume'); }">Choose volume...</button>
        </div>
        <a href="#" data-bind="attr: { href: MainVolumeUrl }" data-lightbox="image-volume" title="Volume">
            <img src="#" class="img-responsive" data-bind="attr: { src: MainVolumeUrl }" alt="Volume image" />
        </a>
    </div>
</div>