---
layout: false
---
<div>
    <script type="text/html" id="sketch-tpl">
        <div data-bind="if: widget.isVisSettingPanel">
            <div class="widget-setting-panel">
                setting panel
            </div>
        </div>
        <div class="widget-content">
            asfa
        </div>
    </script>
    <script type="text/html" id="summary-tpl">
        <div data-bind="if: widget.isVisSettingPanel">
            <div class="widget-setting-panel">
                <input type="text" data-bind="value: widget.title" />
                <input type="checkbox" data-bind="checked: widget.optns.isVisibleDescription" /> is vis desc
                <input type="checkbox" data-bind="checked: widget.optns.isVisibleProductionHistory" /> is vis prod history
                <button type="button" data-bind="click: widget.saveWidget">Save</button>
            </div>
        </div>
        <div class="widget-content" data-bind="with: $parents[2]">
            <h6 data-bind="text: Name"></h6>
            <div data-bind="if: widget.optns.isVisibleDescription">
                <span data-bind="text: Description"></span>
            </div>
            <div data-bind="if: widget.optns.isVisibleProductionHistory">
                <span data-bind="text: ProductionHistory"></span>
            </div>
        </div>
    </script>
    <script type="text/html" id="perfomance-tpl">
        <div data-bind="if: widget.isVisSettingPanel">
            <div class="widget-setting-panel">
                <input type="text" data-bind="value: widget.title" />
                <div data-bind="with: widget.optns.perfomanceView">
                    Perfomance group:
                    <ul data-bind="foreach: $root.wfmParamSquadList">
                        <li data-bind="with: id">
                            <a href="#" data-bind="click: $parents[1].selectAttrGroupId">
                                <span data-bind="text: $data"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix" style="margin-top:4px">
                        <div class="text-center">
                            <select data-bind="options: joinedYearList, value: WPDDateStartYear" class="input-sm"></select>
                            <select data-bind="options: monthList, value: WPDDateStartMonth" class="input-sm"></select>
                            <span>&nbsp;-&nbsp;</span>
                            <select data-bind="options: joinedYearList, value: WPDDateEndYear" class="input-sm"></select>
                            <select data-bind="options: monthList, value: WPDDateEndMonth" class="input-sm"></select>
                            <label class="checkbox-inline">
                                <input type="checkbox" data-bind="checked: isVisibleForecastData, enable: prfPartial.isForecastPossible" />Show forecast
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-content">
            <div data-bind="with: widget.optns.perfomanceView">
                <div data-bind="ifnot: prfPartial.isLoadedHstProductionData">{{lang.loading}}...</div>
                <div data-bind="if: prfPartial.isLoadedHstProductionData">
                    <div data-bind="if: prfPartial.hstProductionDataSet().length === 0">No data. Import files from "File manager" to view production data.</div>
                    <div data-bind="if: prfPartial.hstProductionDataSet().length > 0">
                        <div data-bind="if: selectedAttrGroup">
                            {{> well-pd-graph }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <div class="row" data-bind="foreach: dashBoardLayout">
        <div data-bind="css: 'col-md-'+ col">
            <div data-bind="foreach: widgets">
                <div class="widget-tile">
                    <div class="clearfix widget-tile-header">
                        <div class="pull-left">
                            <b data-bind="text: title"></b>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-xs" data-bind="click: function(){ isVisSettingPanel(!isVisSettingPanel()) }">
                                <i class="glyphicon glyphicon-cog"></i>
                            </button>
                        </div>
                    </div>
                    <div class="widget-tile-content">
                        <div data-bind="template: { name: tplId, data: $data, as: 'widget', afterRender: processWidget }"></div>
                    </div>
                </div>
            </div>
            <div class="widget-tile text-center">
                <button type="button" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-plus"></i> Add widget
                </button>
            </div>
        </div>
    </div>
</div>