---
pageTitle: <%= _.capitalize(lang.contacts) %>
rootUrl: '../'
footerScripts:
   - <%= rootUrl %>js/jquery.js
   - <%= rootUrl %>js/bootstrap.js
---
<div class="wfm-content-pad">
    <h4>{{pageTitle}}</h4>
</div>