/* Set the fixed height of the footer here */
footer {
    height: 50px;
    padding: 0;
    z-index: 1030;
}

    footer .footer-logo-wrap {
        padding: 12px;
    }

        footer .footer-logo-wrap .footer-logo {
            background: url(../img/logo-footer.png) no-repeat;
            height: 24px;
            width: 100px;
        }

@media (max-width: 992px) {
    /* for small screen no fixed footer */
    footer {
        position: initial !important;
    }
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.nav {
    margin-bottom: 0 !important;
}

/*height of top block (margin-top) and height of footer block (padding-bottom)*/
.wfm-content-wrap {
    min-height: 100%;
}

    .wfm-content-wrap > div {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    /*wfm content with padding*/
    .wfm-content-wrap .wfm-content-pad {
        padding: 4px 16px 0 16px;
    }

.well-content-pad {
    padding: 8px 15px 0 0;
}

@font-face {
    font-family: 'WfmIconFont';
    src: url('../fonts/wfmicons-regular.eot');
    src: url('../fonts/wfmicons-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/wfmicons-regular.woff') format('woff'), url('../fonts/wfmicons-regular.ttf') format('truetype'), url('../fonts/wfmicons-regular.svg#glyphicons_halflingsregular') format('svg');
}

.wfm-icon-home-list > i {
    color: #aaa;
    font-size: 24px;
}

    .wfm-icon-home-list > i:hover {
        color: #444;
    }

.wfmicon:before {
    font-family: 'WfmIconFont';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.wfmicon-summary:before {
    content: "\e001";
}

.wfmicon-sketch:before {
    content: "\e002";
}

.wfmicon-history:before {
    content: "\e003";
}

.wfmicon-map:before {
    content: "\e004";
}

.wfmicon-log:before {
    content: "\e005";
}

.wfmicon-pd:before {
    content: "\e006";
}

.wfmicon-test:before {
    content: "\e007";
}

.wfmicon-integrity:before {
    content: "\e008";
}

.wfmicon-nodalanalysis:before {
    content: "\e009";
}

.wfmicon-report:before {
    content: "\e010";
}

.min-top-margin {
    margin-top: 8px;
}

.min-left-margin {
  margin-left: 8px;
}

.min-right-margin {
  margin-right: 8px;
}

.min-bottom-margin {
  margin-bottom: 8px;
}

.btn-tile {
    border: 0;
    border-radius: 0;
    font-weight: lighter;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn-inverse {
    border: 1px solid #777;
    background-color: #333;
    color: #eee;
}

    .btn-inverse:hover {
        border: 1px solid #888;
        color: #fff;
        background-color: #444;
    }

    .btn-inverse:focus {
        border: 1px solid #888;
        color: #fff;
        background-color: #444;
    }

/*calculator page*/
.slider-wrap {
    padding-top: 7px;
}

    .slider-wrap .slider {
        width: 500px;
    }

    .slider-wrap .slider-count {
        margin-left: 16px;
        font-weight: bold;
        width: 60px;
    }

    .slider-wrap .slider-price {
        margin-left: 16px;
        font-weight: bold;
    }

