---
page_title: Test workspace
---
<div class="wfm-content-pad">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Test well file manager</h2>
            <p>It is a test workspace. Please don't load secret or important data. All loaded data can be removed at any time.</p>
            <form action="/api/account" method="post">
                <input type="hidden" placeholder="Email" name="Email" required="required" id="Email" value="wfm@example.com">
                <input type="hidden" placeholder="Password" name="Password" required="required" id="Password" value="123321">
                <button type="submit" class="btn btn-lg btn-default">Log on to test WFM</button>
            </form>
        </div>
    </div>
</div>