---
pageTitle: <%= _.capitalize(lang.development) %>
rootUrl: '../'
---
<div class="wfm-content-pad">
    <!-- wfm-client folder stores at the same parent directory -->
	{{md '../wfm-client/readme.md'}}
    <!--
    <h4 class="text-center">Widget structure</h4>
    <div class="row">
        <div class="col-md-6 col-lg-3 col-lg-offset-3">
            <img class="img-responsive" src="{{rootUrl}}img/structure/widget.png" />
        </div>
        <div class="col-md-6 col-lg-3">
            <p>Well (well group, well field, well region) may contain widget layouts</p>
            <p>Widget layout may contain widget blocks (columns) - 1, 2, 3 or 4 different size columns</p>
            <p>Widget block may contain widgets</p>
            <p>Widget may be few types</p>
        </div>
    </div>-->
</div>